#welcome{
    color:  rgb(77, 19, 67);
    font-size: 130%;
}
.no{
    color: yellowgreen;
}
#userExperience{
    color: chartreuse;
}
.color{
    color: burlywood;
}
.page2{
    color: rgb(51, 20, 20);
}